<!-- <app-header></app-header> -->
<ion-content>

  <ion-button class="boton-menu">
    <ion-back-button color="light" defaultHref="/inicio"></ion-back-button>
  </ion-button>
  <ion-button class="boton-menu left">
    <ion-menu-button>
      <ion-icon class="fs-24 txt1" color="light" src="../../../assets/imgs/_ionicons_svg_md-menu.svg"></ion-icon>
    </ion-menu-button>
  </ion-button>

  <img class="bg-cart1" src="{{'assets/imgs/fondo-membresia.jpeg' }}">
  <img class="bg-cart3" src="{{'assets/imgs/bg-4.png' }}">

  <div class="title-content">

    <div class="content-title">
      <ion-item class="deseos">
        <div class="title">
          <h2 class="title-product">Menbresia</h2>
        </div>

        <ion-button class="btn-miembro" slot="end">
          Ser Miembro
        </ion-button>


      </ion-item>
      <div class="description">
        <span>Plan Anual</span>
        <br>
        <span>$2000000</span>


      </div>
    </div>
    <div class="line"></div>
    <br>
    <ion-item class="title-cat">
      <ion-label>Beneficios</ion-label>
    </ion-item >
     

    <ion-item class="beneficio">
      <div class="avatar">

      </div>

      <div class="text">
        <label for="">beneficio 1</label>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, nihil a quo minima ducimus molestiae expedita officiis iure. Quo ab eius consequatur mollitia ad recusandae ipsa similique non impedit modi.</p>
      </div>
    </ion-item>

    <ion-item class="beneficio">
      <div class="avatar">

      </div>

      <div class="text">
        <label for="">beneficio 1</label>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, nihil a quo minima ducimus molestiae expedita officiis iure. Quo ab eius consequatur mollitia ad recusandae ipsa similique non impedit modi.</p>
      </div>
    </ion-item>

    <ion-item class="beneficio">
      <div class="avatar">

      </div>

      <div class="text">
        <label for="">beneficio 1</label>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, nihil a quo minima ducimus molestiae expedita officiis iure. Quo ab eius consequatur mollitia ad recusandae ipsa similique non impedit modi.</p>
      </div>
    </ion-item>

    <ion-item class="beneficio">
      <div class="avatar">

      </div>

      <div class="text">
        <label for="">beneficio 1</label>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, nihil a quo minima ducimus molestiae expedita officiis iure. Quo ab eius consequatur mollitia ad recusandae ipsa similique non impedit modi.</p>
      </div>
    </ion-item>

   
  </div>
</ion-content>