ion-content{
    --background: #000;
}

.title{
    margin-left: 14px;
}

.bg-cupons {
    background: rgba(12, 12, 12, 0.72);
    height: 100vh;
    margin-top: 18%;
    border-radius: 2rem 2rem 0 0;
    padding: 20px;
}

.products-cupons {
    background: transparent;
    
    ion-item {
        --background: transparent;
    }

    img {
        width: 100%;
        border-radius: 2rem;
        height: 140px;
    }
}

.container{
    display: flex;
    justify-content: center;
    padding: 20px;
    img{
        width: 220px;
        height: 220px;
    }
}